a:link {
    color: #000000;
    text-decoration: underline;
    -webkit-text-stroke: 0.5px #000000;
    text-stroke: 0.5px #000000;
    text-shadow: 1px 1px 0px #000000;
}

a:visited {
    color: #393837;
    text-decoration: underline;
}

a:hover {
    color: #8245b5;
    text-decoration: underline;
}

.fount {
    face: "微软雅黑";
    color: #FFFFFF;
}

.background-t1 {
    background-image: url('http://weixun-image.idweixun.com/hssw/hsswbase.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%
}

.bs {
    border: 3px solid #000000;
}

.btb {
    /* background-color: #e27f48; */
    text-align: center;
    border: 3px solid #000000;
}

#foot {
    text-align: left;
    padding-left: 40px;
}

.flfp {
    text-align: left;
    padding-left: 40px;
}

.lfp {
    line-height: 20px;
    font-size: 12px;
    color: #FFFFFF;
}

.lfp > a:link {
    color: #FFFFFF;
    text-decoration: underline;
    -webkit-text-stroke: 0px #FFFFFF;
    text-stroke: 0px #FFFFFF;
    text-shadow: 0px 0px 0px #FFFFFF;
}

.lfp > a:hover {
    color: #cabf28;
    text-decoration: underline;
    -webkit-text-stroke: 0.5px #cabf28;
    text-stroke: 0.5px #cabf28;
    text-shadow: 0.5px 0.5px 0px #cabf28;
}

.lfp > a:visited {
    color: #FFFFFF;
    text-decoration: underline;
    -webkit-text-stroke: 0px #FFFFFF;
    text-stroke: 0px #FFFFFF;
    text-shadow: 0px 0px 0px #FFFFFF;
}

.plfm {
    line-height: 22px;
    font-size: 12px;
    margin-top: -5px;
}